<!--
  Dynamic nested Material menu from json object in Angular 5

  https://stackoverflow.com/questions/48146171/dynamic-nested-material-menu-from-json-object-in-angular-5
-->

<div *ngIf="prefectures.length>0">
  <button mat-button [matMenuTriggerFor]="main_menu">観測所</button>

  <mat-menu #main_menu="matMenu">
    <ng-container *ngFor="let mainItem of objectKeys(observatoryList)">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem }}</button>
      <mat-menu #sub_menu="matMenu">
        <button *ngFor="let subItem of observatoryList[mainItem]" mat-menu-item (click)="subItemClicked(subItem)">{{ subItem }}</button>
      </mat-menu>
    </ng-container>
  </mat-menu>
</div>

<div>
    <ng-container *ngFor="let ob_name of selectedObservatories">
      <!--
        <div>{{ob_name}}</div>
      -->
      <div class="container">
        <app-jw-observatory [observatory_name]="ob_name"></app-jw-observatory>
        <app-jw-chart [chart_param]="getChartParam(ob_name)"></app-jw-chart>
      </div>
    </ng-container>
</div>

<!--
<mat-accordion>
  <mat-expansion-panel *ngFor="let i of prefectures">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let o of observatoryList[i]">
      {{o}}
    </div>
  </mat-expansion-panel>
</mat-accordion>
-->