table {
    font-size: smaller;
    border-color: #dddddd;
}

td,th {
    padding: 4px 5px 0px 5px; /* [上][右][下][左] */
}

.observatory-name {
    font-size: x-large;
    padding: 10px;
}

 .prop-val {
     width: 220px;
 }