<div>
  <mat-form-field class="base_url">
    <input matInput placeholder="Web API URL" [(ngModel)]="base_url">
  </mat-form-field>
  <button mat-button (click)="applyBaseUrl()">保存</button>
</div>

<div class="caution">
※ 今日のデータはありません（毎晩23時以降にデータを気象庁から取得するため）。4月7日以降のデータしかありません。
</div>

<nav>
  <a routerLink="/ranking" routerLinkActive="active"><mat-icon>format_list_numbered</mat-icon>昨日のトップ10</a>  
  <a routerLink="/list" routerLinkActive="active"><mat-icon>view_list</mat-icon>観測所</a>
</nav>

<router-outlet></router-outlet>
