<div>
  <mat-form-field class="base_url">
    <input matInput placeholder="Web API URL" [(ngModel)]="base_url">
  </mat-form-field>
  <button mat-button (click)="applyBaseUrl()">保存</button>
</div>

<div class="caution">
※ 今日のデータはありません（毎晩23時以降にデータを気象庁から取得するため）。4月7日以降のデータしかありません。
</div>

<div class="container">

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="日を選んでね（日本語localeに対応したい）" [(ngModel)]="date_to_search.value">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="yes()">トップ5!</button>

    <div *ngIf="highest_top.length>0">
      <div class="title">最高気温トップ5</div>
      <table>
        <tr>
          <th>順位</th>
          <th>観測ポイント</th>
          <th>最高温度[℃]</th>
        </tr>
        <tr *ngFor="let p of highest_top; index as i">
          <td>{{i+1}}</td>
          <td>{{p.place}}</td>
          <td>{{p.temperature}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="lowest_top.length>0">
      <div class="title">最低気温トップ5</div>
      <table>
        <tr>
          <th>順位</th>
          <th>観測ポイント</th>
          <th>最低温度[℃]</th>
        </tr>
        <tr *ngFor="let p of lowest_top; index as i">
          <td>{{i+1}}</td>
          <td>{{p.place}}</td>
          <td>{{p.temperature}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="rain24h_top.length>0">
      <div class="title">24時間降水量トップ5</div>
      <table>
        <tr>
          <th>順位</th>
          <th>観測ポイント</th>
          <th>24時間降水量[mm]</th>
        </tr>
        <tr *ngFor="let p of rain24h_top; index as i">
          <td>{{i+1}}</td>
          <td>{{p.place}}</td>
          <td>{{p.rainfall_amount}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="snow_top.length>0">
      <div class="title">積雪量トップ5</div>
      <table>
        <tr>
          <th>順位</th>
          <th>観測ポイント</th>
          <th>積雪量[cm]</th>
        </tr>
        <tr *ngFor="let p of snow_top; index as i">
          <td>{{i+1}}</td>
          <td>{{p.place}}</td>
          <td>{{p.snow_depth}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="観測ポイント" [(ngModel)]="place">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dp2" placeholder="日を選んでね（日本語localeに対応したい）" [(ngModel)]="date_range.value">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="yes2()">1週間!</button>

    <div *ngIf="highest_range.length>0">
      <div class="title">最高気温</div>
      <table>
        <tr>
          <th>日時</th>
          <th>最高温度[℃]</th>
        </tr>
        <tr *ngFor="let p of highest_range; index as i">
          <td>{{p.date}}</td>
          <td>{{p.temperature}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="lowest_range.length>0">
      <div class="title">最低気温</div>
      <table>
        <tr>
          <th>日時</th>
          <th>最低温度[℃]</th>
        </tr>
        <tr *ngFor="let p of lowest_range; index as i">
          <td>{{p.date}}</td>
          <td>{{p.temperature}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="rain24h_range.length>0">
      <div class="title">24時間降水量</div>
      <table>
        <tr>
          <th>日時</th>
          <th>24時間降水量[mm]</th>
        </tr>
        <tr *ngFor="let p of rain24h_range; index as i">
          <td>{{p.date}}</td>
          <td>{{p.rainfall_amount}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="snow_range.length>0">
      <div class="title">積雪量</div>
      <table>
        <tr>
          <th>日時</th>
          <th>積雪量[cm]</th>
        </tr>
        <tr *ngFor="let p of snow_range; index as i">
          <td>{{p.date}}</td>
          <td>{{p.snow_depth}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="観測ポイント" [(ngModel)]="placeX">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="yes3()">詳細!</button>

    <div *ngIf="observatory_info">
      <table>
        <tr>
          <td>都府県振興局</td>
          <td>{{observatory_info.prefecture}}</td>
        </tr>
        <tr>
          <td>観測所番号</td>
          <td>{{observatory_info.place_no}}</td>
        </tr>
        <tr>
          <td>種類</td>
          <td>{{observatory_info.type}}</td>
        </tr>
        <tr>
          <td>観測所名</td>
          <td>{{observatory_info.place}}</td>
        </tr>
        <tr>
          <td>ｶﾀｶﾅ名</td>
          <td>{{observatory_info.kana}}</td>
        </tr>
        <tr>
          <td>所在地</td>
          <td>{{observatory_info.address}}</td>
        </tr>
        <tr>
          <td>緯度(度)</td>
          <td>{{observatory_info.latitude}}</td>
        </tr>
        <tr>
          <td>緯度(分)</td>
          <td>{{observatory_info.latitude_min}}</td>
        </tr>
        <tr>
          <td>経度(度)</td>
          <td>{{observatory_info.longitude}}</td>
        </tr>
        <tr>
          <td>経度(分)</td>
          <td>{{observatory_info.longitude_min}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-jw-chart></app-jw-chart>