h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    margin: 10px;
}

.base_url {
    width: 600px;
}

.title {
/*    margin-top: 20px;
*/    background-color: gray;
    color: white;
}

.caution {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightpink;
    font-size: smaller;
    text-align: center;
}

.like-link {
    color: #55aa55;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
